.craft_sec .image_item_row {
  display: grid;
  grid-template-columns: 300px 1fr 300px;
  gap: 20px;
}

.craft_sec .image_item_row img {
  height: 385px;
  object-fit: cover;
}

.value_sec .image_item_row img {
  height: 385px;
  object-fit: cover;
  width: 100%;
  object-position: center;
}

.features_about_sec img {
  height: 380px;
}

/* care page */

.features_about_sec .features_row {
  padding: 0px 5rem;
}

.care_accordion .accordion-item:not(:last-child) {
  border-bottom: 1px solid #a3a3a3;
}

.care_accordion .accordion-item .accordion-button {
  font-size: 24px;
  font-weight: 400;
  font-family: var(--font-cormorant);
  color: var(--black);
  line-height: 150%;
  padding: 15px 0;
}

.care_accordion .accordion-item .accordion-body p {
  font-size: 14px;
  font-weight: 300;
  color: #2e2e2e;
  padding-bottom: 0.525rem;
  line-height: 150%;
}

.care_accordion .accordion-item .accordion-body li,
.care_accordion .accordion-item .accordion-body ul {
  font-size: 14px;
  font-weight: 300;
  color: #2e2e2e;
  padding-bottom: 0rem;
  line-height: 150%;
}

/* pet ashes */

/* review page */
.review_sec .review_grid_column {
  border-radius: 20px;
  padding: 1.25rem;
  background-color: #f8f0f5;
}

.review_sec .review_grid_column .image_rating .client_img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  object-position: center;
}

.review_sec .review_grid_column h3 {
  font-size: 1.25rem;
  line-height: 150%;
  color: var(--black);
  font-weight: 400;
  font-family: var(--font-cormorant);
}

.review_sec .review_grid_column .client_content p {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  color: var(--black);
}

/* order page */
.step_item_row {
  display: grid;
  grid-template-columns: 1fr 520px;
  gap: 20px;
}

.step_item_row .step_content p {
  max-width: 520px;
  font-size: 16px;
  line-height: 150%;
  font-weight: 400;
  color: var(--black);
}

.step_item_row:not(:last-child) {
  margin-bottom: 2rem;
}

.step_item_row .step_image img {
  height: 270px;
  object-fit: cover;
}

.why_choose_sec .choose_us_list ul {
  max-width: 520px;
  margin: 0 auto;
}

/* how to make it */
.howItsMade_grid {
  grid-template-columns: 1fr 520px;
  gap: 30px;
}

.trending_sec.howItsMade_Slidersec .trending_row {
  position: static;
  padding: 0px;
}

.howItsMade_Slidersec .slide-btn.prev-btn,
.howItsMade_Slidersec .slide-btn.next-btn {
  top: 18px;
}

.howItsMade_Slidersec .slide-btn.prev-btn {
  right: 40px;
}

.howItsMade_Slidersec .slide-btn.next-btn {
  right: 20px;
}

@media (min-width: 1201px) {
  .Our12MuranoGlassColours .trending_grid_row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 991px) {
  .howItsMade_grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .howItsMade_grid .image_box {
    order: 1;
  }

  .howItsMade_grid .content {
    order: 2;
  }
}

@media (max-width: 1199px) {
  .features_about_sec .features_row {
    padding: 0px 2.5rem;
  }

  .review_sec .review_grid_column .client_content p {
    font-size: 20px;
  }

  .step_item_row {
    display: grid;
    grid-template-columns: 1fr 450px;
  }
}

@media (max-width: 991px) {
  .pet-ashes-materials .materials_sec_row {
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
  }

  .step_item_row {
    display: grid;
    grid-template-columns: 1fr;
  }

  .pet-ashes-materials .materials_sec_row::-webkit-scrollbar {
    display: none;
  }

  .pet-ashes-materials .materials_sec_box {
    width: 200px;
    flex: 0 0 200px;
  }

  .pet-ashes-materials .materials_sec_box .image_box,
  .pet-ashes-materials .materials_sec_box .image_box img {
    height: 200px !important;
  }

  .review_sec .review_grid_column .client_content p {
    font-size: 20px;
  }

  /* .pet-ashes-materials .materials_sec_row .materials_sec_box {
    width: 200px;
  } */
}

@media (max-width: 768px) {
  .features_about_sec .features_row {
    padding: 0;
  }

  /* .care_accordion .accordion-item .accordion-body p {
    font-size: 12px;
  } */

  .care_accordion .accordion-item .accordion-button {
    font-size: 24px;
  }

  .features_about_sec img {
    height: 320px;
  }
}

@media (max-width: 575px) {
  .pet_ashes_about_sec .image_box img {
    height: 300px;
  }

  .review_sec .review_grid_column .client_content p {
    font-size: 16px;
  }

  .review_sec .review_grid_column .image_rating .client_img {
    width: 70px;
    height: 70px;
  }
}